<h3>Word</h3>
<canvas
  #canvas
  (mousedown)="handleMouseDown($event)"
  (mousemove)="handleMouseMove($event)"
  (mouseup)="handleMouseUp()"
></canvas>
<div class="canvas-controls">
  <label for="brush-size">Brush Size:</label>
  <input
    type="number"
    id="brush-size"
    [(ngModel)]="brushSize"
    min="1"
    max="50"
  />

  <br />
  <label for="brush-color">Brush Color:</label>
  <input type="color" id="brush-color" [(ngModel)]="brushColor" />
  <button (click)="toggleEraser()">Eraser</button>
</div>
