<h3>{{wordToDraw}}</h3>
<canvas
  #canvas
  (mousedown)="handleMouseDown($event)"
  (mousemove)="handleMouseMove($event)"
  (mouseup)="handleMouseUp()"
></canvas>
<div class="canvas-controls">
  <label for="brush-size">Brush Size:
    <input
    type="number"
    id="brush-size"
    [(ngModel)]="brushSize"
    min="1"
    max="50"
  />
  </label>
  <label for="brush-color">Brush Color:
    <input type="color" id="brush-color" [(ngModel)]="brushColor" />
  </label>
  <button (click)="toggleEraser()">Eraser</button>
</div>
<button (click)="submitPainting()">Submit painting</button>
