<h3 class="canvas-word">{{wordToDraw}}</h3>
<canvas
  #canvas
  (touchstart)="handleMouseDown($event)"
  (touchmove)="handleMouseMove($event)"
  (touchend)="handleMouseUp()"
  (mousedown)="handleMouseDown($event)"
  (mousemove)="handleMouseMove($event)"
  (mouseup)="handleMouseUp()"
></canvas>
<div class="canvas-controls">
  <label for="brush-size">Brush Size:
    <input
    type="number"
    id="brush-size"
    [(ngModel)]="brushSize"
  />
  <span>{{brushSize}}</span>
  </label>
  <label for="brush-color">Brush Color:
    <input type="color" id="brush-color" [(ngModel)]="brushColor" />
    
  </label>
  <button (click)="toggleEraser()">Eraser</button>

  <button (click)="submitPainting()">Submit painting</button>
</div>

