:host{
    display: grid;
    width: 100%;
    height: 100%;

    canvas{
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }
}

.canvas-controls{
    display: grid;
    justify-items: start;
    align-items: center;
}